* {
    box-sizing: border-box;
    --gray: rgb(128, 128, 128, 0.2);
    --blue: rgb(2, 116, 255, 0.5);
}

button {
    background-color: inherit;
    margin: 0;
    border: solid 1px rgb(118 118 118);
    border-radius: 2px;
}
.addProjectBtn:hover, .addTaskBtn:hover {
    border: solid 1px rgb(84, 84, 84);
    background-color: var(--gray);
}

.active {
    background-color: var(--blue);
}

.content {
    display: grid;
    grid-template-columns: 200px 1fr;
}

/* sidebar */

.projects {
    display: grid;
    grid-template-columns: 1fr 1.5rem;
    grid-auto-rows: 1.5rem;
    border: solid 1px gray;
    border-radius: 2px;
}

.projects:hover {
    background-color: var(--gray);
}


/* main */

.main {
    max-width: 800px;
}

.todoView {
    height: 40vh;
}

.focusTask {
    height: 40vh;
}

.main .todos * {
    display: inline-block;
}

.todos {
    display: grid;
    grid-template-columns: 1fr repeat(3, 1.5rem);
    grid-auto-rows: 1.5rem;
    border: solid 1px gray;
    border-radius: 2px;
}

.todos:hover {
    background-color: var(--gray);
}

.todos *, .projects * {
    margin: 0;
    border: solid 1px rgb(118 118 118);
    border-radius: 2px;
    height: 100%;
    width: 100%;
}

.todos *:hover, .projects *:hover {
    border: solid 1px rgb(84, 84, 84);
}
